<h1><%= @artist.name %></h1>
<hr />
<br />

<p>What would you like to do?</p>
<%= link_to 'View Songs', artist_songs_path(@artist) %>
<br />
<%= link_to 'Edit Artist', edit_artist_path(@artist) %>
<br />
<%= link_to 'Delete Artist', @artist, method: :delete %>
<br />
<%= link_to 'Back to Artist', artists_path %>
