<h3><%= params.key?("artist_id") ? (@artist.name) : (@artist.chart_name) %></h3>
<ul>
<% @songs.each do |song| %>
  <li>
    
    <%= song.name %>
    <%= link_to 'Edit Song', params.key?("artist_id") ? (edit_artist_song_path(@artist, song)) : (edit_billboard_song_path(@artist, song)) %>
    <%= link_to 'Delete Song', params.key?("artist_id") ? (artist_song_path(@artist, song)) : (billboard_song_path(@artist, song)) , method: :delete%>
  </li>
  
<%end%>
</ul>
<%= link_to "Create A Song", params.key?("artist_id") ? (new_artist_song_path(@artist)) : (new_billboard_song_path(@artist)) %>