<h3><%= @artist.name%></h3>
<ul>
<% @songs.each do |song| %>
  <li>
    <%=song.name%>
    <%= link_to 'Edit Song', edit_artist_song_path(@artist, song)%>
    <%= link_to 'Delete Song', artist_song_path(@artist, song), method: :delete%>
  </li>
  
<%end%>
</ul>
<%= link_to "Create A Song", new_artist_song_path(@artist)%>